@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #161616;
}
* {
  font-family: "Poppins", serif;
}
button {
  transition: transform 0.1s ease-in-out;
}
button:active {
transform: scale(0.9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0a0a0a;
    --white: #ededed;
  }
}

body {
  color: var(--white);
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
